@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #001e00;
  padding: 70px 0;
  margin: 5em 0 0 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
  font-family: "Merriweather", serif;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Modal */

#form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50em;
  padding: 2em;
  height: 95%;
  background-color: #ffff;
  box-shadow: 0px 10px 10px 10px rgba(1, 41, 112, 0.08);
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
}

#car-image {
  color: #7f878e !important;
}
#form-button {
  background: #14a800 !important	;
  border: 0;
  padding: 10px 30px;
  margin: 0 0 10px 0;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
#form-button:hover {
  background: #121f10 !important	;
}

#form-close-button {
  position: relative;
  left: -50%;
  top: -2em;
  background-color: rgb(170, 55, 55) !important;
  border: 0;
  padding: 0.5em 1em;
  margin: 0 0 0 0;
  color: #fff;
  transition: 0.4s;
  border-radius: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
}

#form-close-button:hover {
  background-color: red !important;
}

@media (max-width: 1000px) {
  #form-wrapper {
    width: 40em;
  }
}

@media (max-width: 750px) {
  #form-wrapper {
    width: 20em;
  }
}

@media (max-width: 550px) {
  #form-wrapper {
    height: 95%;
    padding: 2em 2em 0 2em;
    width: 88%;
  }
}
